{% extends "selection_layout" %}

{% block script %}
<script>
    function selectionA() {
        window.location.pathname = "/prof/new/";
    }
    function selectionB() {
        window.location.pathname = "/prof/list/";
    }
</script>
{% endblock script %}

{% block selection_a_header %}
Create New
{% endblock selection_a_header %}

{% block selection_b_header %}
List Existing
{% endblock selection_b_header %}